@use "../../scss/abstract/screen-queries" as *;

.destination {
    &::before {
        background-image: url("../../assets/destination/background-destination-desktop.jpg");

        @media ($tablet) {
            background-image: url("../../assets/destination/background-destination-tablet.jpg");
        }
        @media ($phone) {
            background-image: url("../../assets/destination/background-destination-mobile.jpg");
        }
    }
}
