*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--sans-serif);
    font-size: var(--fs-400);
    line-height: 1.5;
    color: hsl(var(--white));

    background-color: hsl(var(--dark));
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    overflow-wrap: break-word;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    display: none;
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--dark));
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--light) / 15%);
    background-clip: content-box;
    border-radius: 0.5em;

    &:hover {
        background-color: hsl(var(--light) / 20%);
    }

    &:active {
        background-color: hsl(var(--light) / 10%);
    }
}
