.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--white) / 0%);

    &:hover,
    &:focus-visible {
        border-color: hsl(var(--white) / 50%);
    }

    &.active,
    &[aria-selected="true"] {
        color: hsl(var(--white) / 100%);
        border-color: hsl(var(--white) / 100%);
    }
}
