@use "../../scss/abstract/screen-queries" as *;

.technology {
    &::before {
        background-image: url("../../assets/technology/background-technology-desktop.jpg");

        @media ($tablet) {
            background-image: url("../../assets/technology/background-technology-tablet.jpg");
        }
        @media ($phone) {
            background-image: url("../../assets/technology/background-technology-mobile.jpg");
        }
    }
}
