@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.numbered_nav {
    width: 100%;
    margin-top: 5rem;

    .img {
        position: absolute;
        right: 0;
        bottom: 2.5rem;
        @media ($tablet) {
            position: static;
            width: 100%;
            margin: auto;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        font-family: var(--sans-condensed);
        text-transform: uppercase;
        letter-spacing: var(--spacing-m);
        list-style: none;

        li {
            button {
                cursor: pointer;

                width: 80px;
                height: 80px;

                font-family: var(--serif);
                font-size: var(--size-4);

                background-color: transparent;
                border: 1px solid hsl(var(--white) / 20%);
                border-radius: 50%;

                transition: var(--hover);

                &:hover,
                &:focus-visible {
                    border-color: hsl(var(--white) / 100%);
                }

                &.active {
                    color: hsl(var(--dark) / 100%);
                    background-color: hsl(var(--white) / 100%);
                }

                @media ($tablet) {
                    width: 60px;
                    height: 60px;
                }
                @media ($phone) {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        @media ($tablet) {
            flex-direction: row;
            justify-content: center;
        }
    }

    h2 {
        font-family: var(--serif);
        font-size: var(--size-3);
        text-transform: uppercase;
    }

    .position {
        font-family: var(--sans-condensed);
        font-size: var(--size-7);
        color: hsl(var(--light) / 100%);
        text-transform: uppercase;
        letter-spacing: var(--spacing-m);
    }

    p {
        max-width: 444px;
        margin-top: 1.5rem;

        font-size: var(--size-6);
        line-height: 2rem;
        color: hsl(var(--light));

        @media ($tablet) {
            max-width: 60ch;
            margin: auto;
            margin-top: 0;
        }
    }

    h3 {
        font-family: var(--sans-condensed);
        font-size: var(--size-8);
        color: hsl(var(--light));
        text-transform: uppercase;
        letter-spacing: var(--spacing-m);
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        height: 400px;
        @media ($tablet) {
            flex-direction: column;
            gap: 2.75rem;
            height: 300px;
            padding-bottom: 2rem;
        }
        @media ($phone) {
            gap: 2rem;
            justify-content: flex-start;
            height: auto;
            padding-bottom: 0;
        }
    }

    @media ($tablet) {
        display: flex;
        flex-direction: column-reverse;
        gap: 3.5rem;

        margin-top: 0;
        margin-bottom: -2rem;
    }

    @media ($phone) {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
}
