@import "https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap";

:root {
    --serif: "Bellefair", serif;
    --sans-condensed: "Barlow Condensed", sans-serif;
    --sans-serif: "Barlow", sans-serif;
    --size-1: 9.375rem;
    --size-2: 6.25rem;
    --size-3: 3.5rem;
    --size-4: 2rem;
    --size-5: 1.75rem;
    --size-6: 1.125rem;
    --size-7: 1rem;
    --size-8: 0.875rem;
}
